* {
    border: 0px;
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', 'Roboto', 'Open Sans', 'Inter', 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding-top: 60px;
    background: #f4f4f4;
}



.nav-bar {
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;

    background: #fff;
    z-index: 1000;

    padding: 0 20px;
    box-sizing: border-box;
}

.logo-section {
    display: flex;
    align-items: center;
    gap: 14px;
}

.logo {
    width: 42px;
    height: 42px;
    object-fit: contain;
}

.logo-section h2 {
    font-size: 18px;
    font-weight:bold;
    position: relative;
    top: 3px;
}

.right-nav {
    display: flex;
    align-items: center;
    gap: 28px;

    padding-right: 18px;
}

.logout-btn {
    height: 40px;
    padding: 0 18px;

    border: 1px solid #ddd;
    border-radius: 10px;

    background: white;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    cursor: pointer;
}




.container {
    display: flex;
}



.sidebar {
    width: 260px;
    min-height: calc(100vh - 60px);

    background: white;

    border-right: 1px solid #ddd;

    padding: 20px 15px;
}

.menu {
    height: 55px;

    display: flex;
    align-items: center;
    gap: 14px;

    padding-left: 16px;

    border-radius: 12px;

    cursor: pointer;

    margin-bottom: 10px;

    font-size: 17px;
}

.menu.active {
    background: #e8f5eb;
    color: #0ba34a;
}




.content {
    flex: 1;
    padding: 30px;
}




.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 20px;
}

.card {
    background: white;

    border: 1px solid #ddd;

    border-radius: 16px;

    padding: 25px;

    height: 110px;
}

.card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.card h1 {
    margin-top: 45px;
    font-size: 30px;
}




.main-box {
    margin-top: 30px;

    background: white;

    border: 1px solid #ddd;

    border-radius: 16px;

    padding: 25px;
}

.gray {
    color: gray;
    margin-top: 4px;
}





.pickup-card {
    border: 1px solid #ddd;

    border-radius: 16px;

    padding: 20px;

    margin-top: 25px;

    position: relative;
}

.status {
    position: absolute;
    top: 18px;
    right: 18px;

    background: #07072d;
    color: white;

    padding: 5px 12px;

    border-radius: 20px;

    font-size: 16px;
}

.pickup-flex {
    display: flex;
    justify-content: space-between;
}

.name {
    margin-top: 10px;
}

.details {
    margin-top: 8px;

    display: flex;
    align-items: center;
    gap: 10px;

    color: #666;

    line-height: 1.5;
}

.details span {
    display: inline-block;
}

.space {
    margin-top: 18px;
}

.label {
    font-size: 13px;
    font-weight: bold;
}

.right-side {
    padding-right: 150px;
    padding-top: 70px;
}





.button-row {
    display: flex;
    gap: 12px;

    margin-top: 20px;
}

.dark-btn {
    height: 40px;

    padding: 0 18px;

    background: #07072d;
    color: white;

    border: none;

    border-radius: 8px;

    cursor: pointer;
}

.light-btn {
    height: 40px;

    padding: 0 16px;

    border: 1px solid #ddd;

    border-radius: 8px;

    background: white;

    display: flex;
    align-items: center;
    gap: 8px;

    cursor: pointer;
}




table {
    width: 100%;
    border-collapse: collapse;

    margin-top: 20px;
}

th {
    text-align: left;
    padding: 15px 10px;

    border-bottom: 1px solid #ddd;
}

td {
    padding: 35px 10px;
}

.empty {
    text-align: center;
    color: gray;
}




.toast {
    position: fixed;
    top: 90px;
    right: -400px;

    background: #0ba34a;
    color: white;

    padding: 14px 20px;

    border-radius: 10px;

    transition: 0.4s;
}

.toast.show {
    right: 30px;
}




.modal {
    position: fixed;
    inset: 0;

    background: rgba(0,0,0,0.35);

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-box {
    width: 420px;

    background: white;

    border-radius: 12px;

    padding: 22px;

    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 18px;

    font-size: 24px;

    cursor: pointer;
}

.otp-box {
    display: flex;
    gap: 10px;

    margin-top: 10px;
}

.otp-box input {
    width: 42px;
    height: 42px;

    border: 1px solid #ddd;

    border-radius: 8px;

    text-align: center;
}

.otp-text {
    margin-top: 10px;
    color: gray;
    font-size: 14px;
}

.top-space {
    display: block;
    margin-top: 18px;
}

textarea {
    width: 100%;
    height: 90px;

    border: 1px solid #ddd;

    border-radius: 10px;

    padding: 10px;

    resize: none;
}

.upload-box {
    height: 110px;

    border: 2px dashed #ddd;

    border-radius: 10px;

    margin-top: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 10px;

    color: gray;
}

.verify-button {
    width: 100%;
    height: 45px;

    background: #07072d;
    color: white;

    border: none;

    border-radius: 10px;

    margin-top: 20px;

    cursor: pointer;
}




.icon {
    width: 22px;
    height: 22px;
}

.small-icon {
    width: 16px;
    height: 16px;
}

.upload-icon {
    width: 30px;
}



.hidden {
    display: none;
}